/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
 .page{
    width: 900px;
    margin:auto;
}
.entete{
    height: 100px;
}
.colonne_menu{
    float:left;
    width:200px;
    height:100%;
}
.colonne_contenu {
    margin-left:200px;
}
.pieddepage{
    height:50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
 body{
	/* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    background-color: rgb(212, 231, 255);
    font-size: 0.8rem;
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

.entete{
    background-color: rgb(112, 140, 172);
    padding: 10px;
}

.titresite{

    color:rgb(228, 228, 255);
    font-size: 1.5rem;
}

.slogan{
    color:rgb(228, 228, 255);
    font-size: 1.5rem;
    font-style: italic;
}

.colonnes {
    background-color: rgb(112, 140, 172);
}
.colonne_menu{
    background-color: rgb(112, 140, 172);
}
.colonne_contenu {
    background-color: rgb(255, 255, 255);
    padding:10px;
}
.pieddepage{
    background-color: rgb(105, 175, 255);
    color: rgb(15, 75, 72); 
    text-align: center;
    line-height: 50px;
}

h1{
    background-color: rgb(232, 255, 247);
    margin: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid rgb(27, 81, 102) ;

}

h2{
    color: rgb(0, 110, 255);
    font-size: 1rem;
    margin: 20px;
    font-variant: small-caps;
}

strong{
    color:rgb(25, 85, 85);
    font-weight: 400;
}

em{
    color: rgb(197, 97, 255);
}

.introduction{
    font-style: italic;
    border: solid;
    padding: 10px;
    border-radius: 10px;

}

a{
    font-weight:bold;
}

a:hover{
    color: rgb(0, 153, 255);
    text-decoration: none;
}

.colonne_menu ul{
    margin: 0px;
    padding: 0px;
}


.colonne_menu li{
    list-style-type: none;
    background-color: gold;
    margin: 5px;
    text-align: center;
}

.colonne_menu li:hover{
    background-color: red;

}

.colonne_menu a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
}
